<section class="hero">
  <video autoplay muted loop playsinline id="hero-video">
    <source src="../images/video.mp4" type="video/mp4" />
    <source src="../images/video.webm" type="video/webm" />
    Your brauzer do not sow that video.
  </video>
  <div class="container">
    <h1 class="hero-title" data-i18n="hero_title"></h1>
    <div class="wrap">
      <ul class="social-links">
        <li>
          <a
            class="social-items"
            href="https://www.instagram.com/vafilka22/"
            target="_blank"
            >IG</a
          >
        </li>
        <li>
          <a
            class="social-items"
            href="linkedin.com/in/valentyna-vovchenko"
            target="_blank"
            >LI</a
          >
        </li>
        <li>
          <a
            class="social-items"
            href="https://github.com/valentina2209"
            target="_blank"
            >GH</a
          >
        </li>
        <li>
          <a class="social-items style" href="#" id="email-link" target="_blank"
            >valya22sun@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
