<section class="hero">
  <video autoplay muted loop playsinline id="hero-video">
    <source src="./images/video.mp4" type="video/mp4" />
    <source src="./images/video.webm" type="video/webm" />
    Your brauzer do not sow that video.
  </video>
  <div class="container">
    <h1 class="hero-title" data-i18n="hero_title"></h1>
    <div class="wrap">
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/vafilka22/" target="_blank">
            <svg class="social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="linkedin.com/in/valentyna-vovchenko" target="_blank">
            <svg class="social-icon">
              <use href="./images/icons.svg#icon-linkedin2"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://github.com/valentina2209" target="_blank">
            <svg class="social-icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" id="email-link" target="_blank">
            <svg class="social-icon">
              <use href="./images/icons.svg#icon-envelop"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
