<div class="mobmenu">
  <button title="close menu" class="close-menu">
    <svg class="close-icon" width="28" height="28">
      <use href="./images/icon.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobmenu-list">
    <li class="mobmenu-item">
      <a class="mobmenu-link" href="#about">About me</a>
    </li>
    <li class="mobmenu-item">
      <a class="mobmenu-link" href="#projects">Projects</a>
    </li>
  </ul>
  <button title="Order the project" class="order-btn-mob">
    Order the project
  </button>
</div>
