<section id="projects" class="section">
  <div class="container projects-container">
    <h2 class="projects-header" data-i18n="projects"></h2>
    <div class="swiper projects-swiper">
      <ul class="swiper-wrapper projects-list">
        <!-- slide-1 -->
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="project-descr-div">
              <ul class="prj-techs-list">
                <li class="prj-techs-item">#react</li>
                <li class="prj-techs-item">#firebase_DB</li>
                <li class="prj-techs-item">#git</li>
              </ul>
              <p class="projects-descr">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                class="button see-project-btn"
                href="https://learn-lingo-lac.vercel.app/"
                target="_blank"
                rel="noopener noreferrer"
                data-i18n="see-project"
              ></a>
            </div>
            <div class="projects-img-div">
              <picture class="prj-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/projects/LearnLingo@1x.webp 1x,
                    ./images/desktop/projects/LearnLingo@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
                    ./images/desktop/projects/LearnLingo@1x.webp 1x,
                    ./images/desktop/projects/LearnLingo@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/desktop/projects/LearnLingo@1x.webp 1x,
                    ./images/desktop/projects/LearnLingo@2x.webp 2x
                  "
                />
                <img
                  src="./images/desktop/projects/LearnLingo@1x.webp"
                  alt="Picture of a mobile reading App project."
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <!-- slide-2 -->
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="project-descr-div">
              <ul class="prj-techs-list">
                <li class="prj-techs-item">#react</li>
                <li class="prj-techs-item">#reset API</li>
                <li class="prj-techs-item">#git</li>
              </ul>
              <p class="projects-descr">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                class="button see-project-btn"
                href="https://rental-car-virid-one.vercel.app/"
                target="_blank"
                rel="noopener noreferrer"
                data-i18n="see-project"
              ></a>
            </div>
            <div class="projects-img-div">
              <picture class="prj-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./images/desktop/projects/Home@1x.webp 1x
                  ./images/desktop/projects/Home@2x.webp 2x"
                />
                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
                  ./images/desktop/projects/Home@1x.webp 1x
                  ./images/desktop/projects/Home@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                  ./images/desktop/projects/Home@1x.webp 1x
                  ./images/desktop/projects/Home@2x.webp 2x
                  "
                />
                <img
                  src="./images/desktop/projects/Home@1x.webp"
                  alt="Petlove vet clinic website."
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <!-- slide-3 -->
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="project-descr-div">
              <ul class="prj-techs-list">
                <li class="prj-techs-item">#react</li>
                <li class="prj-techs-item">#node js</li>
                <li class="prj-techs-item">#git</li>
              </ul>
              <p class="projects-descr">
                Programming Across<br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                class="button see-project-btn"
                href="https://cavabanga-fe-beta.vercel.app/"
                target="_blank"
                rel="noopener noreferrer"
                data-i18n="see-project"
              ></a>
            </div>
            <div class="projects-img-div">
              <picture class="prj-pic">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/projects/Banner@1x.webp 1x,
                    ./images/desktop/projects/Banner@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
                    ./images/desktop/projects/Banner@1x.webp 1x,
                    ./images/desktop/projects/Banner@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/desktop/projects/Banner@1x.webp 1x,
                    ./images/desktop/projects/Banner@2x.webp 2x
                  "
                />
                <img
                  src="./images/desktop/projects/Banner@1x.webp"
                  alt="Vacabulary service website sign-up page screenshot."
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="slider-btns-wrapper">
      <button
        class="projects-slide-btn prjts-back-btn-js"
        type="button"
        aria-label="projects slide back button"
      >
        <svg class="arrow-left-svg" width="24" height="24">
          <use href="./images/icon.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        class="projects-slide-btn prjts-next-btn-js"
        type="button"
        aria-label="projects slide next button"
      >
        <svg class="arrow-right-svg" width="24" height="24">
          <use href="./images/icon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
