/* Mobile screen */
.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.about-main {
  border-radius: 24px;
  margin-bottom: 16px;
  background: #242527;
  padding: 32px;
}
.about-main,
.about-image {
  flex: 1;
  border-radius: 24px;
}

.about-main-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.span-red {
  color: #00adb5;
}

.span-grey {
  color: rgba(250, 250, 250, 0.4);
}

.about-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.about-image-picture,
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul.about-ac-container {
  margin-bottom: 32px;
}

li.ac {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fafafa33;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.ac div.ac-trigger {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 12px;
}

li.ac .ac-trigger::after {
  content: '';
}

h3.ac-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.ac-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.ac-icon {
  transition: transform 300ms ease-in;
}

.ac.is-active .ac-icon {
  transform: rotate(-180deg);
}

div.ac-panel {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
}

#ac-panel-0 p:first-of-type {
  margin-bottom: 32px;
}

#ac-panel-1,
#ac-panel-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-container {
  position: relative;
}

.swiper-container .swiper {
  max-width: 260px;
  height: auto;
  margin: 0;
}

.swiper-container .swiper-slide {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-container .swiper-slide-active {
  border: none;
  background-color: #00adb5;
  animation: rotate360 1000ms ease;
}

.custom-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  font-size: 24px;
  stroke: #3b3b3b;
  padding: 0;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Tablet screen */

@media only screen and (min-width: 768px) {
  .about-wrap {
    flex-direction: row;
  }

  .about-main-subtitle {
    font-size: 38px;
    line-height: 105%;
  }

  ul.about-ac-container {
    margin-bottom: 64px;
  }
  li.ac {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .ac div.ac-trigger {
    margin-bottom: 8px;
  }

  .ac-button {
    width: 40px;
    height: 40px;
  }

  #ac-panel-0 p:first-of-type {
    margin-bottom: 16px;
  }
  .swiper-container .swiper {
    max-width: 600px;
  }

  .swiper-container .swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }

  .custom-next-icon {
    width: 40px;
    height: 40px;
  }
}

/* Desktop screen*/

@media screen and (min-width: 1440px) {
  .about .container {
    display: flex;
    flex-wrap: wrap;
  }

  .about-main {
    max-width: 680px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .about-image {
    max-width: 100%;
    margin-bottom: 0;
  }

  .about-ac {
    margin-top: 96px;
  }

  ul.about-ac-container {
    margin-bottom: 96px;
  }

  div.ac-panel {
    padding-left: 696px;
    padding-right: 68px;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-container .swiper {
    max-width: 1200px;
  }

  .custom-next {
    right: 32px;
  }
}
