@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira%20Sans%20Extra%20Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite%20NG%20Modern:wght@400&display=swap');

:root {
  font-family: 'Vollkorn', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #1c1d20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
