.hero {
  min-width: 320px;
  padding: 32px 0;
  position: relative;
  overflow: hidden;
  background-color: #333;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  margin-top: 249px; /*потім змінити і перенести до хедера */
  align-items: center;
  font-weight: 500;
  font-size: clamp(44px, calc(10.91vw + 8.1px), 50px);
  line-height: 1;
  letter-spacing: -1.5px;
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 249px;
  position: relative;
  z-index: 1;
}

.wrap {
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: calc(100vw - 24px);
  position: relative;
  z-index: 1;
}

/* .social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
}

.social-icon {
  width: 32px;
  height: 32px;
  fill: #555;
  transition: fill 0.3s;
}

.social-icon:hover {
  fill: #00adb5;
} */

.social-links {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
}

.social-links a:focus {
  outline: 2px solid #00d0ff;
  outline-offset: 3px;
}

.social-links a:hover {
  background-color: rgba(4, 143, 223, 0.1);
}

.social-links a:active {
  transform: scale(0.9);
  background-color: rgba(3, 60, 247, 0.2);
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: #878080;
  transition: fill 0.3s;
}

.social-links a:hover .social-icon {
  fill: #008c94;
}

.social-links a:focus .social-icon {
  fill: #00d0ff;
}

.social-links a:active .social-icon {
  fill: #0072c3;
}

/* Style tablet */
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 32px 0;
  }

  .hero-title {
    width: 632px;
    font-size: 90px;
    letter-spacing: -2.7px;
    margin-bottom: 187px;
  }

  .social-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
  }

  .wrap {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: calc(100vw - 64px);
  }
}

/* Desktop (1440px) */
@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
  }

  .hero-title {
    width: 1084px;
    margin-bottom: 243px;
  }
  .wrap-title {
    padding: 0 178px;
  }
}
