/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Modern Normalize */
@import 'modern-normalize/modern-normalize.css';

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./projects.css');
@import url('./covers.css');
@import url('./work-together.css');
@import url('./mobile-menu.css');
