.footer-container {
  background-repeat: no-repeat;
  background-position: right;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}

.work__logo {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 64px;
}

.work__logo-img {
  border-radius: 12px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 4px;
}

.work__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.work__title--red {
  color: #00adb5;
}

.work__title--white {
  display: inline-block;
  margin-left: -48px;
}

.work__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 64px;
}

.work__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  outline: none;
  transition: border-color 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.input-group {
  width: 100%;
}

.work__input:focus,
.work__input:hover {
  border-color: #fafafa;
}

.email-validation-message {
  font-size: 14px;
  margin-top: 4px;
  color: #e74a3b;
  text-align: left;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 0;
  display: block;
}

.email-validation-message.success {
  color: #3cbc81;
}

.work__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.work__button {
  margin-top: 16px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  color: #fafafa;
  background-color: #00adb5;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 40px 32px;
}

.work__button:hover,
.work__button:focus-visible {
  background-color: #00adb3;
}

.work__button:active {
  background-color: #fafafa;
  color: #00adb5;
}

.work__contact-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.work__contact-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  text-align: center;
}

.work__contact-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-decoration: none;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__contact-link:hover,
.work__contact-link:focus-visible {
  border: 1px solid #fafafa;
}

.work__contact-link:active {
  border: 1px solid #00adb5;
  color: #00adb5;
}

.email-validation-message {
  height: 0;
  font-size: 14px;
  transition: color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  color: transparent;
}

.email-validation-message.success,
.email-validation-message.error {
  opacity: 1;
}

.email-validation-message.success {
  color: #3cbc81;
}

.email-validation-message.error {
  color: #e74a3b;
}

/* === Modal === */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50vh;
  left: 50%;
  width: 343px;
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__icon {
  stroke: #fafafa;
}

.modal__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fafafa;
}

.modal__text {
  font-size: 16px;
  color: rgba(250, 250, 250, 0.6);
}

/* === Media === */
@media (min-width: 768px) {
  .footer-container {
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 169px;
    padding-top: 80px;
  }

  .work__logo {
    margin-bottom: 18px;
  }

  .work__logo-img {
    width: 70px;
    height: 70px;
    border-radius: 24px;
    margin-bottom: 20px;
  }

  .work__title {
    font-size: 64px;
    margin-bottom: 10px;
  }

  .work__title--white {
    margin-left: -78px;
    margin-top: 7px;
  }

  .work__form {
    flex-direction: row;
    align-items: baseline;
    gap: 32px;
    margin-bottom: 78px;
  }

  .work__input {
    width: 245px;
  }

  .work__button {
    padding: 65px 57px;
    margin-top: 0;
  }

  .work__nav {
    gap: 8px;
  }

  .work__contact-link {
    font-size: 16px;
    padding: 18px 32px;
  }

  .modal {
    width: 492px;
    padding: 64px;
  }

  .modal__title,
  .modal__text {
    width: 364px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    padding-left: 196px;
    padding-bottom: 169px;
  }

  .work__button {
    margin-right: 190px;
    margin-left: 84px;
  }

  .work__input {
    width: 100%;
  }
}
